## Create a Maximum Temperature Heatmap

In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Talnakh,RU,2021-11-25 02:37:51,69.4865,88.3972,7.92,95,100,6.53
1,1,Rikitea,PF,2021-11-25 02:37:52,-23.1203,-134.9692,76.80,74,20,10.76
2,2,Lucapa,AO,2021-11-25 02:37:52,-8.4192,20.7447,63.64,97,99,1.32
3,3,Albany,US,2021-11-25 02:35:35,42.6001,-73.9662,33.80,75,64,2.68
4,4,Yerbogachen,RU,2021-11-25 02:37:52,61.2767,108.0108,9.12,97,80,6.46

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [22]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [23]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [32]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

## Create a Percent Humidity Heatmap

In [33]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

## Create a Percent Cloudiness Heatmap

In [34]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

## Create a Wind Speed Heatmap

In [35]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

## Get Vacation Criteria

In [36]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [37]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Rikitea,PF,2021-11-25 02:37:52,-23.1203,-134.9692,76.80,74,20,10.76
13,13,Georgetown,MY,2021-11-25 02:37:55,5.4112,100.3354,82.33,83,20,3.00
21,21,Harper,LR,2021-11-25 02:37:56,4.3750,-7.7169,78.37,85,73,5.06
24,24,Buchanan,LR,2021-11-25 02:37:57,5.8808,-10.0467,76.96,87,29,4.56
26,26,Kapaa,US,2021-11-25 02:35:58,22.0752,-159.3190,82.38,66,1,4.00
28,28,Busselton,AU,2021-11-25 02:37:58,-33.6500,115.3333,77.77,36,47,5.32
29,29,Acajutla,SV,2021-11-25 02:37:59,13.5928,-89.8275,78.15,65,4,6.31
33,33,Isangel,VU,2021-11-25 02:34:28,-19.5500,169.2667,80.71,69,90,0.00
34,34,Vaini,TO,2021-11-25 02:38:00,-21.2000,-175.2000,84.36,84,75,9.22
37,37,Atuona,PF,2021-11-25 02:38:01,-9.8000,-139.0333,78.01,80,27,15.23

In [40]:
preferred_cities_df.count()

City_ID       148
City          148
Country       148
Date          148
Lat           148
Lng           148
Max Temp      148
Humidity      148
Cloudiness    148
Wind Speed    148
dtype: int64

## Map Vacation Criteria

In [41]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
1      Rikitea      PF     76.80 -23.1203 -134.9692
13  Georgetown      MY     82.33   5.4112  100.3354
21      Harper      LR     78.37   4.3750   -7.7169
24    Buchanan      LR     76.96   5.8808  -10.0467
26       Kapaa      US     82.38  22.0752 -159.3190
28   Busselton      AU     77.77 -33.6500  115.3333
29    Acajutla      SV     78.15  13.5928  -89.8275
33     Isangel      VU     80.71 -19.5500  169.2667
34       Vaini      TO     84.36 -21.2000 -175.2000
37      Atuona      PF     78.01  -9.8000 -139.0333

In [48]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [49]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [50]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Rikitea,PF,76.80,-23.1203,-134.9692,People ThankYou
13,Georgetown,MY,82.33,5.4112,100.3354,Cititel Penang
21,Harper,LR,78.37,4.3750,-7.7169,Screensaver
24,Buchanan,LR,76.96,5.8808,-10.0467,Kamaneahn Hotel Inc
26,Kapaa,US,82.38,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
28,Busselton,AU,77.77,-33.6500,115.3333,Observatory Guest House
29,Acajutla,SV,78.15,13.5928,-89.8275,asi es
33,Isangel,VU,80.71,-19.5500,169.2667,Tanna Lodge
34,Vaini,TO,84.36,-21.2000,-175.2000,Keleti Beach Resort
37,Atuona,PF,78.01,-9.8000,-139.0333,Villa Enata

## Create a Maximum Temperature Heatmap from a Hotel DataFrame

In [59]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [53]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [57]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [58]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))